* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Carme', sans-serif;
  color: #071347;
}
h1 {
  color: navy;
  font-family: 'Carme', sans-serif;
  color: #071347;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
#header {
  padding: 20px;
}
#content {
  margin: 50px;
  height: 600px;
  background-color: #c4bbb1;
}
#sens-cont {
  margin-left: 40px;
  margin-right: 40px;
}
#sens-cont ul {
  list-style: none;
  display: inline-block;
  margin-top: 20px;
}
#sens-cont ul li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
#sens-cont ul li:hover {
  background-color: #dbd4cc;
}
#sens-cont .ing_list {
  background-color: #dbd4cc;
  padding: 10px;
  display: none;
}
#prod_cont {
  display: none;
  margin: 20px 40px 20px 40px;
}
#results_cont {
  display: none;
  margin: 20px 40px 20px 40px;
}
